@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+One&display=swap');

body{
    margin:0;
    background: linear-gradient(#282a72, #4b5487);
    height:100vh;
}


#impulsomostrar{
    width: 100px;
}

#mostrarh{
    color: white;
    margin: auto;
    margin-bottom: 5%;
}

#mostrar{
    font-family: 'Lato', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    width: 40%;
    height: 30%;
    margin:auto;
    color: #0e115c;
    border-collapse:none;
    background-color: white;
}

#impulso{
    
    margin-top: 20px;
    width: 200px;
    margin-bottom: 10%;
    display: block;
}
.contenedor{
    padding-top: 50px;
    text-align: center;
    width: 90%;
    height: 30%;
    margin:0 auto;
}

a{
    padding: 0 20px;
}
i:active{
    color:#f8cc0e;
}

i{
    color:white;
    font-size: 145px;
}

h1{

    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 60px;
}


@media only screen and (min-width:768px) and (max-width:1024px){
    
    h1{

        color: white;
         text-shadow: rgb(8, 49, 59) 0.05em 0.00000005em 0.3em;
        font-family: 'Lato', sans-serif;
        font-family: 'Mochiy Pop One', sans-serif;
        font-size: 50px;
    }

    i{
        font-size: 155px;
    
    }

    

    body{
        margin:0;
        background: linear-gradient(#282a72, #4b5487);
     height: 100vh;
    }

    .contenedor{
        display: block;
        width: 100%;
        height: 30%;
        margin:0 auto;
        text-align: center;
    }
    

  
}